.row{
    transform: translate3d(0,8vh,0);
    
}

.parallax-container {
      height: 40vh;
      position: relative;
      
    }
.section{
    height: 60vh;
}    
.overlay{
    background: black;
    width: 100%;
    height: 40vh;

}
#getTokenImg{
    opacity: 0.5
}

#getTokenText{
    position: absolute;
    top: 40%;
    left: 15%;
    background: transparent;
    
}
#getTokenBtn{
    z-index: 9999;
}
        
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 70%;
  left: 45%;
}
/*#initBtn{
    position: absolute;
    top: 40%;
    left: 15%;
    background: transparent;
}*/